* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    padding: 10px;
  }
  #toggle {
    display: none;
  }
  
  .container {
    max-width: 80%;
    margin: 0 auto;
    background: #f9f9f9;
  }
  .intro {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/nav-background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  }
  .intro p {
    color: whitesmoke;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    font-size: 4rem;
    text-align: center;
    /* padding-top: 150px; */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  .intro-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .projects {
    min-height: 50rem;
  }
  
  .footer {
    padding: 3rem 0;
    clear: both;
    font-size: 1.2rem;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: linear-gradient(to right bottom, #0a111b, rgb(14, 13, 13));
    color: #ffffff;
    border-top: 0.8rem solid #4aaaa5;
    height: 50rem;
  }
  
  .btn:link, 
  .btn:visited {
    transition: all .2s;
  }
  
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(114, 111, 111, 0.459)
  
  }
  
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(114, 111, 111, 0.459)
  }
  
  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    80% {
      transform: translateX(2rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight  {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    80% {
      transform: translateX(-2rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  
  @media only screen and (max-width: 899px) {
    #logo {
      width: 15rem;
      display: none;
      /* margin-left: auto;
          margin-right: auto; */
    }
    .navBar {
      /* display: flex; */
      cursor: pointer;
      background: #212121;
      color: #fff;
    }
    label {
      padding-top: 1rem;
      height: 5rem;
      text-align: right;
      display: block;
      font-size: 2rem;
      border-bottom: 0.1rem solid #eaeaeb;
      line-height: 5rem;
      cursor: pointer;
      font-family: "Permanent Marker", cursive;
    }
  
    .navBar p {
      display: none;
      order: 1;
      text-align: center;
      font-family: "Permanent Marker", cursive;
      font-size: 2rem;
      margin-bottom: 0;
    }
    .menu {
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .menu a {
      display: block;
      text-align: center;
      line-height: 5rem;
      border-bottom: 0.1rem solid #eaeaeb;
      margin: 0;
      text-decoration: none;
      color: white;
    }
  
    #toggle:checked + .menu {
      display: block;
    }
  
    .list-skills {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .skills-logo {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 5rem;
    }
  
    .about {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      padding: 1rem;
    }
    .about p {
      font-family: "Merriweather Sans", sans-serif;
      line-height: 1.4em;
      word-spacing: 0.2em;
      text-align: justify;
      margin: 0 1.5rem;
    }
    #headShot {
      border-radius: 2%;
      height: 30rem;
    }
  
    .my-work {
      margin: 2.5rem 1.5rem;
    }
    .projects {
      margin-bottom: 1rem;
      background-color: teal;
    }
  }