// all variables will go here
$font-primary: #ffffff;
$dark-background: linear-gradient(to right bottom, #0a111b, rgb(14, 13, 13));

@mixin style-link-text($color) {
  text-decoration: none;
  color: $color;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;

  }
}
// all animation will go here
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// The reset and the main screen
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  padding: 10px;
  box-sizing: border-box;
}

//for the navBar on small screen
#toggle {
  display: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  // background: #f9f9f9;
}

// largest screens

@media only screen and (min-width: 901px) {
  .navBar {
    display: flex;
    background: #212121;
    color: #fff;
    width: 100%;
    padding: 1rem 5rem;
    justify-content: flex-end;
    #logo {
      height: 4rem;
      border-radius: 20%;
      float: right;
      margin-top: 2rem;
      order: 3;
    }
    label {
      order: 5;
      margin-top: 1rem;
      font-size: 2rem;
      display: none;
    }
    p {
      order: 1;
      font-size: 4rem;
      margin-right: auto;
      margin-top: 1rem;
      font-family: "Permanent Marker", cursive;
    }

    &__menu {
      order: 2;
      margin: 0;
      padding-right: 6rem;
      font-family: "Pacifico", cursive;
      @include style-link-text($font-primary);
      a {
        margin-top: 2.5rem;
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 2rem;
        @include style-link-text($font-primary);
      }
    }
  }
}

//navBar buttons animation
.btn {
  &:link,
  &:visited {
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(114, 111, 111, 0.459);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(114, 111, 111, 0.459);
  }
}

// section 1 intro
.intro {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/nav-background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);

  p {
    color: $font-primary;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    font-size: 4rem;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro__skills {
  max-width: 114rem;
  margin-bottom: 1rem;
  animation: moveInRight 1s ease-out;
  text-align: center;

  img {
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 2rem;
  }
}

// section 2 ABOUT 

.about {
  height: 100vh;
  background: $dark-background;
}  
  .about__box {
    margin-top: 50rem;
    max-width: 114rem;
    background-color: #eee;
    margin: 0 auto;
    
    img{
      height: 50rem;
      float: left;
      
    }
  }



// section 3 WORK
.work__section {
  height: 100vh;
  margin: 10rem 0;
}
.work__row {
  max-width: 114rem;
  margin: 0 auto;
  
  
  // this will give margin to all but the last element 
  &:not(:last-child){
    margin-bottom: 8rem;
  }

    @include clearfix;
    
  .col-1-of-3 {
    width: calc((100% - 12rem) / 3);
    background-color: orange;
    float: left;
    // margin-bottom: 6rem;

    &:not(:last-child) {
      margin-right: 6rem;
      
    }
  }
}


.footer {
  padding: 3rem 0;
  clear: both;
  font-size: 1.2rem;
  color: $font-primary;
  color: #cccccc;
  text-align: center;
  // background: dark-background;
  background: $dark-background;
  color: #ffffff;
  border-top: 0.8rem solid #4aaaa5;
  height: 50rem;
}

// small screens 

@media only screen and (max-width: 900px) {
  .navBar {
    cursor: pointer;
    background: #212121;
    color: #fff;
    label {
      padding-top: 1rem;
      height: 5rem;
      text-align: right;
      display: block;
      font-size: 2rem;
      border-bottom: 0.1rem solid #eaeaeb;
      line-height: 5rem;
      cursor: pointer;
      font-family: "Permanent Marker", cursive;
    }
    #logo {
      display: none;
    }

    p {
      display: none;
      order: 1;
      text-align: center;
      font-family: "Permanent Marker", cursive;
      font-size: 2rem;
      margin-bottom: 0;
    }

    &__menu {
      text-align: center;
      width: 100%;
      display: none;
      a {
        display: block;
        text-align: center;
        line-height: 5rem;
        border-bottom: 0.1rem solid #eaeaeb;
        margin: 0;
        @include style-link-text($font-primary);
      }
    }
    #toggle:checked + .navBar__menu {
      display: block;
    }
  }

  // section 2 ABOUT small screen

  .about {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
  }
  .about p {
    font-family: "Merriweather Sans", sans-serif;
    line-height: 1.4em;
    word-spacing: 0.2em;
    text-align: justify;
    margin: 0 1.5rem;
  }
  #headShot {
    border-radius: 2%;
    height: 30rem;
  }

  
}

// smallest screens
@media only screen and (max-width: 444px) {
  // section 1 intro
  .intro {
    p {
     font-size: 3rem;
    }
   
    &__skills {
      max-width: 114rem;
      // margin-bottom: 1rem;
      animation: moveInRight 1s ease-out;
      text-align: center;
  
      img {
        width: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin: 1rem;
      }
    }
  }

}
