@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #f7f7f7;
  padding: 1rem;
  box-sizing: border-box; }

#toggle {
  display: none; }

@media only screen and (min-width: 901px) {
  .navBar {
    display: flex;
    background: #212121;
    color: #fff;
    width: 100%;
    padding: 1rem 5rem;
    justify-content: flex-end; }
    .navBar #logo {
      height: 4rem;
      border-radius: 20%;
      float: right;
      margin-top: 2rem;
      order: 3; }
    .navBar label {
      order: 5;
      margin-top: 1rem;
      font-size: 2rem;
      display: none; }
    .navBar p {
      order: 1;
      font-size: 4rem;
      margin-right: auto;
      margin-top: 1rem;
      font-family: "Permanent Marker", cursive;
      display: inline-block;
      background-image: linear-gradient(to right, #ffffff, #969494c5);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s; }
      .navBar p:hover {
        transform: skewY(2deg); }
    .navBar__menu {
      order: 2;
      margin: 0;
      padding-right: 6rem;
      font-family: "Pacifico", cursive;
      text-decoration: none;
      color: #ffffff; }
      .navBar__menu a {
        margin-top: 2.5rem;
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff; } }

.btn:link, .btn:visited {
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(114, 111, 111, 0.459); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(114, 111, 111, 0.459); }

.intro {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/nav-background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); }
  .intro p {
    color: #ffffff;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    font-size: 5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    letter-spacing: .2rem;
    transition: all .2s; }
    .intro p:hover {
      transform: skewX(20deg); }
  .intro__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.intro__skills {
  max-width: 114rem;
  margin-bottom: 1rem;
  animation: moveInRight 1s ease-out;
  text-align: center; }
  .intro__skills img {
    height: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 2rem; }

.about {
  width: 100%;
  height: 100vh;
  background: #0e0d0d;
  color: #ffffff;
  background: linear-gradient(to right bottom, #0a111b, #0e0d0d);
  padding: 5rem;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%); }
  .about__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 114rem;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto; }
  .about img {
    height: 25rem;
    padding: 0 3rem 2rem 0; }
  .about p {
    color: #ffffff;
    line-height: 1.4em;
    word-spacing: 0.2em;
    font-family: serif;
    text-align: justify;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 20px;
    display: inline-block;
    background-image: linear-gradient(to right, #ffffff, #969494c5);
    -webkit-background-clip: text;
    color: transparent; }

.work {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }
  .work__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch; }
  .work .project {
    display: flex;
    flex-direction: row;
    background-color: orangered;
    padding: 3rem;
    margin-top: 10rem;
    border: 1px solid black;
    min-width: 15%; }

.footer {
  padding: 3rem 0;
  clear: both;
  font-size: 1.2rem;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: linear-gradient(to right bottom, #0a111b, #0e0d0d);
  color: #ffffff;
  border-top: 0.8rem solid #4aaaa5;
  height: 50rem; }

@media only screen and (max-width: 900px) {
  .navBar {
    cursor: pointer;
    background: #212121;
    color: #fff; }
    .navBar label {
      padding-top: 1rem;
      height: 5rem;
      text-align: right;
      display: block;
      font-size: 2rem;
      border-bottom: 0.1rem solid #eaeaeb;
      line-height: 5rem;
      cursor: pointer;
      font-family: "Permanent Marker", cursive; }
    .navBar #logo {
      display: none; }
    .navBar p {
      display: none;
      order: 1;
      text-align: center;
      font-family: "Permanent Marker", cursive;
      font-size: 2rem;
      margin-bottom: 0; }
    .navBar__menu {
      text-align: center;
      width: 100%;
      display: none; }
      .navBar__menu a {
        display: block;
        text-align: center;
        line-height: 5rem;
        border-bottom: 0.1rem solid #eaeaeb;
        margin: 0;
        text-decoration: none;
        color: #ffffff; }
    .navBar #toggle:checked + .navBar__menu {
      display: block; } }

@media only screen and (max-width: 900px) and (max-width: 800px) {
  .about {
    height: auto; }
    .about__row {
      display: flex;
      flex-direction: column; }
    .about img {
      margin-left: auto;
      margin-right: auto;
      width: 20rem;
      padding: 0 3rem 2rem 0;
      border-radius: 2%; }
    .about p {
      font-size: 1.5rem; } }

@media only screen and (max-width: 444px) {
  .intro p {
    font-size: 2.4rem; }
  .intro__skills {
    max-width: 114rem;
    text-align: center; }
    .intro__skills img {
      width: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin: rem; }
  .about {
    height: auto; }
    .about__row {
      display: flex;
      flex-direction: column; }
    .about img {
      margin-left: auto;
      margin-right: auto;
      width: 20rem;
      padding: 0 3rem 2rem 0;
      border-radius: 2%; }
    .about p {
      font-size: 1.5rem; } }
