* {
    box-sizing: border-box;
}
.navBar {
    height: auto;
    background-color: blueviolet;
    width: 100%;
    padding: 4rem 5rem;
 
        
}
.navBar p {
    font-size: 2rem;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Permanent Marker', cursive;


}
.navBar ul {
    float: right;
    margin: 0;
    padding-right: 3rem;
    font-size: 1rem;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Pacifico', cursive;
}

.navBar ul li {
    display: inline-block;
    padding: 0rem 1rem;
}
.sources {
    display: flex;
}

#logo {
    height: 4rem;
    border-radius: 20%;
    float: right;
}

.container {
    width: 80%;
    margin: 3rem auto;
}

.about {
    margin: 1rem 0;
    padding: 1rem;
    background-color: blanchedalmond;
    height: 100%;
    display: flex;
    width: 100%;
    line-height: 1.5rem;
    font-size: 16px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#headShot {
    /* float: left; */
    width: 25%;
    height: auto;
    margin-right: 25px;
    border-radius: 2%;

}
    
.list-skills { 
    width: 100%;
    background-color: rgb(41, 1, 1);
    display: flex;
    
    /* align-items: center; */
    
}
.skills-logo {
    height: 2rem;
    margin: 2rem 3.5rem;
    ;
    
    /* align-items: center; */
    
    
    
}

.my-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


}

.projects {
    background-color: violet;
    width: 250px;
    height: 150px;
    margin-left: 6%;
    margin-bottom: 6%;
    
}

