@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  padding: 10px;
  box-sizing: border-box; }

#toggle {
  display: none; }

.container {
  max-width: 80%;
  margin: 0 auto; }

@media only screen and (min-width: 901px) {
  .navBar {
    display: flex;
    background: #212121;
    color: #fff;
    width: 100%;
    padding: 1rem 5rem;
    justify-content: flex-end; }
    .navBar #logo {
      height: 4rem;
      border-radius: 20%;
      float: right;
      margin-top: 2rem;
      order: 3; }
    .navBar label {
      order: 5;
      margin-top: 1rem;
      font-size: 2rem;
      display: none; }
    .navBar p {
      order: 1;
      font-size: 4rem;
      margin-right: auto;
      margin-top: 1rem;
      font-family: "Permanent Marker", cursive; }
    .navBar__menu {
      order: 2;
      margin: 0;
      padding-right: 6rem;
      font-family: "Pacifico", cursive;
      text-decoration: none;
      color: #ffffff; }
      .navBar__menu a {
        margin-top: 2.5rem;
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff; } }

.btn:link, .btn:visited {
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(114, 111, 111, 0.459); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(114, 111, 111, 0.459); }

.intro {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/nav-background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); }
  .intro p {
    color: #ffffff;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    font-size: 4rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .intro__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.intro__skills {
  max-width: 114rem;
  margin-bottom: 1rem;
  animation: moveInRight 1s ease-out;
  text-align: center; }
  .intro__skills img {
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 2rem; }

.about {
  height: 100vh;
  background: linear-gradient(to right bottom, #0a111b, #0e0d0d); }

.about__box {
  margin-top: 50rem;
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .about__box img {
    height: 50rem;
    float: left; }

.work__section {
  height: 100vh;
  margin: 10rem 0; }

.work__row {
  max-width: 114rem;
  margin: 0 auto; }
  .work__row:not(:last-child) {
    margin-bottom: 8rem; }
  .work__row::after {
    content: "";
    display: table;
    clear: both; }
  .work__row .col-1-of-3 {
    width: calc((100% - 12rem) / 3);
    background-color: orange;
    float: left; }
    .work__row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }

.footer {
  padding: 3rem 0;
  clear: both;
  font-size: 1.2rem;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: linear-gradient(to right bottom, #0a111b, #0e0d0d);
  color: #ffffff;
  border-top: 0.8rem solid #4aaaa5;
  height: 50rem; }

@media only screen and (max-width: 900px) {
  .navBar {
    cursor: pointer;
    background: #212121;
    color: #fff; }
    .navBar label {
      padding-top: 1rem;
      height: 5rem;
      text-align: right;
      display: block;
      font-size: 2rem;
      border-bottom: 0.1rem solid #eaeaeb;
      line-height: 5rem;
      cursor: pointer;
      font-family: "Permanent Marker", cursive; }
    .navBar #logo {
      display: none; }
    .navBar p {
      display: none;
      order: 1;
      text-align: center;
      font-family: "Permanent Marker", cursive;
      font-size: 2rem;
      margin-bottom: 0; }
    .navBar__menu {
      text-align: center;
      width: 100%;
      display: none; }
      .navBar__menu a {
        display: block;
        text-align: center;
        line-height: 5rem;
        border-bottom: 0.1rem solid #eaeaeb;
        margin: 0;
        text-decoration: none;
        color: #ffffff; }
    .navBar #toggle:checked + .navBar__menu {
      display: block; }
  .about {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 1rem; }
  .about p {
    font-family: "Merriweather Sans", sans-serif;
    line-height: 1.4em;
    word-spacing: 0.2em;
    text-align: justify;
    margin: 0 1.5rem; }
  #headShot {
    border-radius: 2%;
    height: 30rem; } }

@media only screen and (max-width: 444px) {
  .intro p {
    font-size: 3rem; }
  .intro__skills {
    max-width: 114rem;
    animation: moveInRight 1s ease-out;
    text-align: center; }
    .intro__skills img {
      width: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin: 1rem; } }
